<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Moo zeuna</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:href="@{/js/script.js}"></script>
</head>

<body>

<header class="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="logo">
                <a href="#">MOO-ZEUNA</a>
            </div>
            <button type="button" class="nav-toggler">
                <span></span>
            </button>
            <nav class="nav">
                <ul>
                    <li><a href="#" class="active">home</a></li>
                    <li><a href="#section-shuffler">Shuffler</a></li>
                    <li><a href="#section-2">services</a></li>
                    <li><a href="#section-3">portfolio</a></li>
                    <li><a href="#section-4">testimonials</a></li>
                    <li><a href="#section-5">contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<section id="section-shuffler">
    <div class="flex-container">
        <div class="flex-item-left">
            My
        </div>
        <div class="flex-item-middle">

            <form class="enter-data-div" action="/player" method="post">
                <table>
                    <tr>
                        <td>
                            <input name="playerName" type="text" requiredminlength="1" maxlength="20"
                                   placeholder="Enter Name" required="required" pattern="[A-Za-z0-9]{1,20}"
                                   style="height: 80%; width: 75%; font-size: 98%; border-radius: 4px;"/>
                        </td>
                        <td>
                            <input type="submit" value="Submit" class="button-71"></input>
                        </td>
                    </tr>
                </table>
            </form>

            <div style="background-color: green; display: flex; flex-wrap: wrap;">
                <!--                this form tag is kept here to permet the user to delete a player, that's when hover on the name it shows delete and -->
                <!--                so by clicking on the name it delete it-->
                <div style="height: auto; width: 60%; rgb(153, 153, 102, 0.5)">
                    <form>
                        <div th:each="player : ${players}" id="list-container"
                             style=" margin-top: 5px; height: auto; width: auto; border-radius: 8px; display: inline-flex; flex-wrap: wrap;">
                            &#160;
                            <button th:text="${player}" class="button-73"></button>
                        </div>
                    </form>
                </div>
                <div style="height: auto; width: 40%; rgb(102, 153, 255, 0.5)">

<!--                    <form action="/players" method="get">-->
<!--                        &lt;!&ndash;                    shuffle list&ndash;&gt;-->
<!--                        <input type="submit" value="Submit" class="button-78"></input>-->

<!--                        <tbody>-->
<!--                        <tr th:if="${player.empty}">-->
<!--                            <td colspan="2"> No player Available</td>-->
<!--                        </tr>-->
<!--                        <tr  th:each="player : ${players}">-->
<!--                            <td>-->
<!--                                <span th:text="${player.id}"> Title </span>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <span th:text="${player.playerName}"> Author </span>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        </tbody>-->


<!--                    </form>-->
                </div>
            </div>
        </div>

        <div class="flex-item-right">
            Chance!
        </div>
    </div>
</section>


<section id="section-2"></section>
<section id="section-3"></section>
<section id="section-4"></section>
<section id="section-5"></section>

</body>
</html>