<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Moo zeuna</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:href="@{/js/script.js}"></script>
</head>

<body>

<header class="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="logo">
                <a href="#">MOO-ZEUNA</a>
            </div>
            <button type="button" class="nav-toggler">
                <span></span>
            </button>
            <nav class="nav">
                <ul>
                    <li><a href="#" class="active">home</a></li>
                    <li><a href="#section-shuffler">Shuffler</a></li>
                    <li><a href="#section-2">services</a></li>
                    <li><a href="#section-3">portfolio</a></li>
                    <li><a href="#section-4">testimonials</a></li>
                    <li><a href="#section-5">contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<section id="section-shuffler">
    <div class="flex-container">
        <div class="flex-item-left">
            My
        </div>
        <div class="flex-item-middle">

            <form class="enter-data-div" action="/player" method="post">
                <table>
                    <tr>
                        <td>
                            <input class="input-text" name="playerName" type="text" requiredminlength="1" maxlength="20"
                                   placeholder="Enter Name"/> <br/>
                        </td>
                        <td>
                            <input type="submit" value="Submit" id="add-button"></input>
                        </td>
                    </tr>
                </table>
            </form>
<!--            <br/>-->

            <div style="background-color: green;">
                <form>
                    <div th:each="player : ${players}" id="list-container"
                         style="background-color: powderblue; margin: 3px; height: auto; width: auto; border-radius: 5px; display: inline-flex; flex-wrap: wrap;">
                        &#160;
                        <span th:text="${player}" style=" margin: 3px;"></span>
<!--                        <input type="submit" value="Submit" ></input>-->
                    </div>

                </form>
            </div>
        </div>
        <div class="flex-item-right">
             Chance!
        </div>
    </div>
</section>


<section id="section-2"></section>
<section id="section-3"></section>
<section id="section-4"></section>
<section id="section-5"></section>

</body>
</html>